
.active{
    border-bottom: 2px solid #08C5A7;
}
.link-text{
    
    color: rgba(49,69,106,0.7);
}
.person{
    color: #08C5A7;
}
@media(max-width: 600px){
    .link-text{
        font-size:small !important;
    }
    .active{
        border-bottom: 1px solid #08C5A7;
    }
}